[defaults]
roles_path = ./ansible/roles
retry_files_enabled = False
interpreter_python = auto_silent
inventory = ./ansible/inventories/development/hosts.yml
host_key_checking = False

[privilege_escalation]
become = False
